{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <section class="bestsellers">
            <h2>Бестселлеры</h2>
            <div class="cake-list">
                {% for cake in popular_cakes %}
                <div class="cake-item">
                    <img src="{{ cake.image.url }}" alt="{{ cake.name }}">
                    <h3>{{ cake.name }}</h3>
                    <p>@ <a href="{% url 'user_profile' cake.chief.id %}">{{ cake.chief.username }}</a></p>
                    <p>{{ cake.description }}</p>
                    <p>{{ cake.price }} руб - вес {{ cake.weight }} кг</p>
                    <div class="tags">
                        {% for tag in cake.tags.all %}
                        <span class="tag">#{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                 <div class="buttons">
                    <a href="{% url 'order_cake' cake.id %}">Заказать</a>
                    <a href="{% url 'view_cake' cake.id %}">Посмотреть</a>
                 </div>

                </div>
                {% endfor %}
            </div>
            <h2>Все торты</h2>
        <div class="cake-list">
                {% for cake in all_cakes %}
                <div class="cake-item">
                    <img src="{{ cake.image.url }}" alt="{{ cake.name }}">
                    <h3>{{ cake.name }}</h3>
                    <p>@ <a href="{% url 'user_profile' cake.chief.id %}">{{ cake.chief.username }}</a></p>
                    <p>{{ cake.description }}</p>
                    <p>{{ cake.price }} руб - вес {{ cake.weight }} кг</p>
                    <div class="tags">
                        {% for tag in cake.tags.all %}
                        <span class="tag">#{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="buttons">
                        <a href="{% url 'order_cake' cake.id %}">Заказать</a>
                        <a href="{% url 'view_cake' cake.id %}">Посмотреть</a>
                     </div>
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}
